<a href="https://colab.research.google.com/github/zaitmi002/ml-ai/blob/main/Day_4_imti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/sample_data/Social network Ads.csv')

In [ ]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
data.shape

(400, 5)

In [ ]:
data1=pd.get_dummies(data)

In [ ]:
data1.shape

(400, 6)

In [ ]:
data1.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0  15624510   19            19000          0              0            1
1  15810944   35            20000          0              0            1
2  15668575   26            43000          0              1            0
3  15603246   27            57000          0              1            0
4  15804002   19            76000          0              0            1

LABEL ENCODING

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [ ]:
data['Gender']=label_encoder.fit_transform(data['Gender'])

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [ ]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [ ]:
X

      User ID  Gender  Age  Purchased
0    15624510       1   19          0
1    15810944       1   35          0
2    15668575       0   26          0
3    15603246       0   27          0
4    15804002       1   19          0
..        ...     ...  ...        ...
395  15691863       0   46          1
396  15706071       1   51          1
397  15654296       0   50          1
398  15755018       1   36          0
399  15594041       0   49          1

[400 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
print('Mean squared error is:',mean_squared_error(y_test,predictions))
print('R squared value is:',r2_score(y_test,predictions))

Mean squared error is: 981714174.2628555
R squared value is: 0.07875829069610807

# **MIN MAX SCALING**

In [ ]:
X.describe()

            User ID      Gender         Age   Purchased
count  4.000000e+02  400.000000  400.000000  400.000000
mean   1.569154e+07    0.490000   37.655000    0.357500
std    7.165832e+04    0.500526   10.482877    0.479864
min    1.556669e+07    0.000000   18.000000    0.000000
25%    1.562676e+07    0.000000   29.750000    0.000000
50%    1.569434e+07    0.000000   37.000000    0.000000
75%    1.575036e+07    1.000000   46.000000    1.000000
max    1.581524e+07    1.000000   60.000000    1.000000

In [ ]:
x1=X.drop('User ID',axis=1)

In [ ]:
x1.head()

   Gender  Age  Purchased
0       1   19          0
1       1   35          0
2       0   26          0
3       0   27          0
4       1   19          0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
min_max_scaler=MinMaxScaler(feature_range=(0,1))

In [ ]:
x1=min_max_scaler.fit_transform(x1)

In [ ]:
type(x1)

numpy.ndarray

In [ ]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
x1=pd.DataFrame(x1,columns=['Gender', 'Age','Purchased'])

In [ ]:
x1.describe()

           Gender         Age   Purchased
count  400.000000  400.000000  400.000000
mean     0.490000    0.467976    0.357500
std      0.500526    0.249592    0.479864
min      0.000000    0.000000    0.000000
25%      0.000000    0.279762    0.000000
50%      0.000000    0.452381    0.000000
75%      1.000000    0.666667    1.000000
max      1.000000    1.000000    1.000000

In [ ]:
x1.shape

(400, 3)

In [ ]:
X.drop(['Gender','Age','Purchased'],axis=1,inplace=True)

In [ ]:
X=pd.concat([X,x1],axis=1)

In [ ]:
X.head()

    User ID  Gender       Age  Purchased
0  15624510     1.0  0.023810        0.0
1  15810944     1.0  0.404762        0.0
2  15668575     0.0  0.190476        0.0
3  15603246     0.0  0.214286        0.0
4  15804002     1.0  0.023810        0.0

In [ ]:
X.tail()

      User ID  Gender       Age  Purchased
395  15691863     0.0  0.666667        1.0
396  15706071     1.0  0.785714        1.0
397  15654296     0.0  0.761905        1.0
398  15755018     1.0  0.428571        0.0
399  15594041     0.0  0.738095        1.0

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
print('Mean squared error is:',mean_squared_error(y_test,predictions))
print('R squared value is:',r2_score(y_test,predictions))

Mean squared error is: 981714174.2623825
R squared value is: 0.07875829069655205

## **STANDARD SCALING**

In [ ]:
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [ ]:
X.describe()

            User ID      Gender         Age   Purchased
count  4.000000e+02  400.000000  400.000000  400.000000
mean   1.569154e+07    0.490000   37.655000    0.357500
std    7.165832e+04    0.500526   10.482877    0.479864
min    1.556669e+07    0.000000   18.000000    0.000000
25%    1.562676e+07    0.000000   29.750000    0.000000
50%    1.569434e+07    0.000000   37.000000    0.000000
75%    1.575036e+07    1.000000   46.000000    1.000000
max    1.581524e+07    1.000000   60.000000    1.000000

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
std_scl=StandardScaler()

In [ ]:
x1=X.drop('User ID',axis=1)

In [ ]:
x1.head()

   Gender  Age  Purchased
0       1   19          0
1       1   35          0
2       0   26          0
3       0   27          0
4       1   19          0

In [ ]:
x1=std_scl.fit_transform(x1)

In [ ]:
type(x1)

numpy.ndarray

In [ ]:
x1=pd.DataFrame(x1,columns=['Gender','Age','Purchased'])

In [ ]:
X.drop(['Gender','Age','Purchased'],axis=1,inplace=True)

In [ ]:
X=pd.concat([X,x1],axis=1)

In [ ]:
X.head()

    User ID    Gender       Age  Purchased
0  15624510  1.020204 -1.781797  -0.745936
1  15810944  1.020204 -0.253587  -0.745936
2  15668575 -0.980196 -1.113206  -0.745936
3  15603246 -0.980196 -1.017692  -0.745936
4  15804002  1.020204 -1.781797  -0.745936

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
print('Mean squared error is:',mean_squared_error(y_test,predictions))
print('R squared value is:',r2_score(y_test,predictions))

Mean squared error is: 981714174.2602726
R squared value is: 0.07875829069853191